<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="false"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- Remove FCM service: privacy flavor does not use Firebase Cloud Messaging -->
        <service
            android:name=".services.FCMService"
            tools:node="remove" />

    </application>

</manifest>
